/* font :- space grotesk and open sans*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans&family=Space+Grotesk:wght@400;500;700&display=swap');

:root {
  --primary-color: #181a1b;
  --heading-color: #181a1b;
  --secondary-color: #999999;
  --primary-offset: #F8F2FF;
  --max-width: 1100px;
}

*{
  margin: 0;
  padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
        background-color: #a3a3a3;
}


html{
  scroll-behavior: smooth;
    overflow: auto;

}

figure {
  max-width: 100%;
}

/*front page */
.front {
  height: auto;
  padding-top: 5%;
}

@media (min-width: 390px){
.lion {
    display: block;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  height: auto;
  margin-top: 0 auto;
  margin-bottom: 0 auto;
  margin: auto;
  box-shadow: #a3a3a3 0px -15px 20px;

}
}

/* works page */

.works-page {
  position: absolute;
  top: 20%;
  margin-left: 30%;
  margin-right: 30%;
  width: 30dvw;
}

.flcl-gif {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin:auto;
 padding-top: 20%;
}

.text1 {
 display: block;
 
}
/* Logs */
.log_page {
  margin-left: 5%;
}
.buffer {
  padding-top: 17%;
}
embed{
        font-family: 'Jersey 10';
        font-size: 200%;
        margin-left: 1.5%;
        width: 95%;
        height: 70dvh;
        background-color: #a3a3a3;
    }
/* resuable styles */
.section-heading{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  color: var(--heading-color);
}
.section-subhead{
  font-family: 'Open Sans', sans-serif;
  color: var(--secondary-color);
  font-weight: 400;
}
/* resuable styles */

header{
  max-width: var(--max-width);
  padding-left: 0;
}

/* nav style */
nav {
  width: 100%;
  font-family: 'Space Grotesk', sans-serif;
}

.navbar {
  position: absolute;
  top:-20px;
  margin-left: 0;
  margin-right: 65%;
  padding-right: 10%;
}


.navbar-brand {
  scale: 30%;
  display: inline;
  padding-left: 5% !important;
  margin-left: 0% !important;

}

.toggler {
  color: var(--primary-color);
  font-size: 1rem;
  background: none;
  border: none;
  padding: 0;
  line-height: 0;
  
}

.navigation li a {
  color: var(--primary-color);
  opacity: .6;
  font-size: 18px;
}

.navigation li a.active{
  opacity: 1;
}
.navigation li a:hover{
  color: var(--primary-color);
}

.nav-btn button{
  color: var(--primary-color);
  font-weight: 500;
}

.nav-btn .login:hover{
  color: var(--primary-color);
}

.nav-btn .get-start{
  border-color: var(--primary-color);
}

.nav-btn .get-start:hover{
  background-color: var(--primary-color);
}


/* hero style */
.hero-bg{
  min-height: 100vh;
  width: 100%;
  background-color: #a3a3a3;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 450px;
}

.bottom-curve{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.hero-header{
  font-size: 2.5rem;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}

.hero-subheader{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.hero-cto .get-start, .hero-cto .trial{
  font-size: 18px;
}

.hero-cto .get-start{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.hero-image > .feature{
  max-width: 800px;
  width: 100%;
  position: absolute;
  right: 0;
}
/*Iphone specific */
@media (max-width: 690px)  {
  .front-content {
 padding-top: 15%;
  }
.lion {
  display: block;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin:auto;
 position:absolute;
 top:0;bottom:0;
 left:0;right:0; 
 scale: 2;
 box-shadow: #a3a3a3 0px -15px 20px;
}
    .navbar {
    position: absolute;
    left: -37%;
    display: flex;
    padding-top: 7%
    }


    .bear {
      display: none;
    }
  }





/* medium and up screens */
@media (min-width: 1000px) {
  
  #article .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(40%);
  }
  
  #article .carousel-inner .carousel-item-start.active, 
  #article .carousel-inner .carousel-item-prev {
    transform: translateX(-40%);
  }
}

#article .carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}


/* footer style */
.footer{
  background-color: #260055;
  color: white;
  padding: 100px 15px;
}

@media (max-width: 800px){
  .footer{
    padding: 40px 15px;
  }
}

.footer-wrapper{
  max-width: var(--max-width);
}
.footer-wrapper .footer-logo{
  max-width: 150px;
}

.footer-wrapper .footer-sub{
  max-width: 270px;
}

.footer-wrapper .socials{
  max-width: 220px;
}

.footer-wrapper ul li a{
  font-family: 'Open Sans', sans-serif;
  color: var(--secondary-color);
  font-weight: 400;
}

.footer-wrapper ul li a:hover{
  color: var(--primary-color);
}
